.contents {
    width: 825px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 72px;
    background: var(--dot-blue);
    border-radius: var(--n-radius);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brew-bar {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
}
.head-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px 0 10px;
}
.hc-cg {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}
#hc--c {
    margin: 0 5px 0 0;
}
.rotateActived {
    transform: rotate(180deg);
}
.addF-btn {
    width: auto;
    height: auto;
}

/**/

section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.feed-card {
    width: 825px;
    height: 151px;
    border-radius: var(--n-radius);
    background: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}
.cross-box {
    width: auto;
    height: 100%;
    padding-top: 35px;
}
.feed-body {
    width: 650px;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.feedTitle {
    font-size: 18px;
    font-weight: 700;
    color: #3A4374;
    margin-bottom: 10px;
}
.feedBText {
    font-size: 16px;
    font-weight: 400;
    color: #647196;
    margin-bottom: 20px;
}
.getFeel {
    width: 105px;
    font-size: 13px;
    font-weight: 600;
    border-radius: var(--n-radius);
    background: #F2F4FF;
    color: var(--blue);
    padding: 5px 0;
    display: grid;
    place-items: center;
}
.ms-part {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box {
    width: auto;
    height: auto;
}
.ms-c-box {
    width: auto;
    height: 28px;
}
.f-ms-counter {
    font-size: 16px;
    font-weight: 700;
    color: #3A4374;
    margin: 0 0 0 8px;
}